.login-form {
    margin: 1.5rem;

    .input-wrapper {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }
        input {
            padding: 15px 10px;
            border-radius: 10px;
            
            
            background-color: none;
            border: 3px solid ;

            &:focus {
                border: 3px solid #bf4080;
            }
        }
    }
}